{% extends 'themes/base_Visitor.html.twig' %}

{% block title %}Blog{% endblock %}

{% block description %}hello, c'est jean-dupont{% endblock %}

{% block keywords %}blog,article{% endblock %}

{% block main %}
  <h1 class="text-center my-3 display-5">Liste des articles</h1>
{% endblock %}