{% extends 'themes/base_Visitor.html.twig' %}

{% block title %}Contact{% endblock %}

{% block description %}hello, c'est jean-dupont{% endblock %}

{% block keywords %}contact,accueil,article{% endblock %}

{% block main %}
  <h1 class="text-center my-3 display-5">Contacter-nous</h1>
{% endblock %}