{% extends 'themes/base_Visitor.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}hello, c'est jean-dupont{% endblock %}

{% block keywords %}blog,accueil,article{% endblock %}

{% block main %}
  <h1 class="text-center my-3 display-5">Hello JD</h1>
{% endblock %}